/* PC Responsive */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
}

/* Header */
header{
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h2{
    margin: 0;
    color: red;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 15px;
}

header h2:hover{
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 4px;
}

header h2 span{
    color: #fff;
}

.nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    margin-right: 40px;
}

.nav a:hover{
    color: red;
}

.link-active {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    margin-right: 40px;
}

.link-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: #ff4141c8;
    transition: width 0.3s ease-in-out;
}

.link-active.active::after {
    width: 100%;
}

section, 
.about, 
.featured, 
.skills, 
.projects, 
.contact {
    scroll-margin-top: 100px;
}

/* Main Content */
main{
    justify-items: center;
}

/* Intro */
.intro{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(180deg, rgba(81, 81, 81, 0.31), rgba(0, 0, 0, 0.9)), url('./Img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.intro img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
}

.intro-text{
    padding-left: 10%;
    text-align: center;
    margin-top: 10%;
}

.intro h2{
    margin: 2px;
    color: #ff4141c8;
    font-size: 4rem;
    cursor: pointer;
}

.intro h2:hover {
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 4px;
}

#typing-text::after {
    content: "|";
    animation: blink 0.7s infinite;
    color: #ff4141c8;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.intro p{
    margin: 3px;
    color: #ddd;
    font-size: 1.5rem;
    cursor: pointer;
}

.intro button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
}

.intro button:hover{
    background-color: #ff4141c8;
}

/* About Section */
.about{
    margin: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.about h2{
    color: #ff4141c8;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

.about h2:hover {
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 8px;
}

.about p{
    color: #eee;
    line-height: 1.5;
}

.about h3{
    color: #ff4141c8;
    cursor: pointer;
}

.content {
    display: flex;
}

.about-img{
    width: 30%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 2%;
}

.content-text{
    width: 60%;
    padding-left: 5%;
    margin-top: -0.1%;
}

.content-text h3 {
    font-size: 1.8rem;
}

.content-text p{
    font-size: 1rem;
    margin-top: 1rem;
}

.about ul{
    color: #eee;
    list-style-type: circle;
}

.about ul li span{
    color: #ff4141c8;
    font-weight: bold;
    text-decoration: underline 1px #fff;
    text-underline-offset: 2px;
    cursor: pointer;
}

/* Featured Section */
.featured {
    margin: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.featured h2{
    color: #ff4141c8;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

.featured h2:hover {
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 8px;
}

.featured p {
    color: #eee;
    line-height: 1.5;
    text-align: center;
}

.featured-gallery {
    display: flex;
    gap: 20px;
    margin: 0 10%;
    padding-bottom: 50px;
}

.featured-item {
    width: 400px;
    height: 300px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #ff4141c8;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.featured-item:hover {
    transform: scale(1.03);
}

.featured-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.featured-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.4s;
}

.featured-item:hover .featured-overlay {
    transform: translateY(0);
}

.featured-overlay h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ff4141c8;
    text-align: left;
}

.featured-overlay p {
    font-size: 0.95rem;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: justify;
    margin-right: 25px;
}

.featured-overlay a {
    display: inline-block;
    background-color: #ff4141c8;
    color: #000;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

/* Skill Section*/
.skills {
    margin: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.skills h2 {
    color: #ff4141c8;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

.skills h2:hover {
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 8px;
}

.skills p {
    color: #eee;
    line-height: 1.5;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;
}

#skills h3 {
    color: #ff4141c8;
    font-size: 1.6rem;
    margin: 2.5rem 0 1rem 0;
    border-bottom: 2px solid #ff4141c8;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#skills h3:hover {
    color: #fff;
}

.skill-category h4 {
    color: #ff4141c8;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    border-left: 4px solid #ff4141c8;
    padding-left: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;
}

.skills-list li {
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border: 1px solid #ff4141c8;
    color: #fff;
    padding: 2rem;
    border-radius: 20px;
    font-size: 0.95rem;
    white-space: nowrap;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list li:hover {
    background: #ff4141c8;
    border: 1px solid #fff;
    color: #fff;
    transform: scale(1.05);
}

.skills-list li i {
    font-size: 50px;
    margin-bottom: 10px;
    animation: bounce 2s infinite;
}

.skills-list li i:hover {
    animation: twist 2s ease-in-out infinite;
}

.skills-list li img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    animation: bounce 2s infinite;
}

.skills-list li img:hover {
    animation: twist 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes twist {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Projects Section*/
.projects{
    margin: 10%;
}

.projects h2{
    color: #ff4141c8;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

.projects h2:hover {
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 12px;
}

.projects p{
    color: #eee;
    line-height: 1.5;
    text-align: justify;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    border-left: 4px solid #ff4141c8;
    transition: transform 0.3s;
    justify-items: center;
    padding-bottom: 20px;
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card img {
    width: 100%;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-bottom: 2px solid #ff4141c8;
}

.project-card h3 {
    margin: 1rem;
    font-size: 1.3rem;
}

.project-card p {
    margin: 0 1rem 1rem;
    color: #ccc;
}

.project-card .view-project{
    color: #fff;
    text-decoration: none;
    background: #333;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}

.project-card .view-project:hover {
    background: #ff4141c8;
    color: #000;
}

/* Contact Section */
.contact{
    margin: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.contact h2{
    color: #ff4141c8;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

.contact h2:hover {
    color: #fff;
    text-decoration: 2px underline #ff4141c8;
    text-underline-offset: 12px;
}

.contact-content {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 120%;
    margin-left: -10%;
}

.contact-form,
.contact-info {
    flex: 1 1 450px;
    background: rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 127, 127, 0.3);
}

.contact-form h3,
.contact-info h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ff4141c8;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form .form-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 90%;
    outline: none;
    background: white;
    color: #111;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ff4141c8;
}

.contact-info p {
    margin: 10px 0;
    font-size: 16px;
}

.contact-info i {
    margin-right: 20px;
    color: #ff4141c8;
    font-size: 20px;
    margin-top: 15px;
}

/* Footer */
footer{
    background-color: #111;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer p{
    margin: 0;
    color: #fff;
}

/* Tablet Responsive */
@media (max-width: 1024px) {
    .intro {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 40px;
    }

    .intro img {
        width: 350px;
        height: 350px;
        margin-left: 0;
        margin-top: 20px;
    }

    .intro-text {
        margin-top: 20px;
        padding-left: 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .about-img, .content-text {
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
    }

    .featured-gallery {
        flex-direction: column;
        align-items: center;
    }

    .contact-content {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h2 {
        font-size: 1.7rem;
        margin-left: 5px;
        margin-bottom: 4px;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .nav a {
        font-size: 0.7rem;
    }

    .mobile-hide {
        display: none !important;
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .intro p {
        font-size: 1.1rem;
    }

    .intro img {
        width: 280px;
        height: 280px;
    }

    .intro button {
        width: 150px;
        height: 45px;
        font-size: 1rem;
    }

    .about {
        margin: 5%;
    }

    .about h2, .featured h2, .skills h2, .projects h2, .contact h2 {
        font-size: 2.2rem;
    }

    .featured-gallery {
        margin: 0;
        gap: 30px;
        padding: 20px;
    }

    .featured-item {
        width: 90%;
        height: auto;
    }

    .featured-item img {
        height: 250px;
        width: 350px;
    }

    .skills {
        text-align: center;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        list-style: none;
        padding-left: 0;
        justify-content: center;
        max-width: 900px;
        margin: auto;  
    }

    .skills-list li {
        width: 80px;
        height: 80px;
        padding: 1rem;
        font-size: 0.8rem;
        white-space: nowrap;
        transition: background 0.3s, transform 0.2s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projects {
        margin: 5%;
    }

    .project-card {
        margin-bottom: 10px;
    }

    .contact {
        margin: 5%;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
    }

    footer p {
        font-size: 14px;
    }
}